/Codigo/CartolaPrime.Web/bin
/Codigo/CartolaPrime.Web/obj
/Codigo/CartoPrime/CartoPrime/obj
/Codigo/CartoPrime/CartoPrime/bin
/Codigo/CartoPrime/CartoPrime.Android/bin
/Codigo/CartoPrime/CartoPrime.Android/obj
/Codigo/CartoPrime/CartoPrime.iOS/bin
/Codigo/CartoPrime/CartoPrime.iOS/obj
/Codigo/CartoPrime.Api/bin
/Codigo/CartoPrime.Api/obj
/Codigo/CartoPrime.Application/obj
/Codigo/CartoPrime.Application/bin
/Codigo/CartoPrime.Data/obj
/Codigo/CartoPrime.Data/bin
/Codigo/CartoPrime.Data.CA/bin
/Codigo/CartoPrime.Data.CA/obj
/Codigo/CartoPrime.Domain/obj
/Codigo/CartoPrime.Domain/bin
/Codigo/CartoPrime.Pontuacoes/bin
/Codigo/CartoPrime.Pontuacoes/obj
/Codigo/CartoPrime.SendPush/bin
/Codigo/CartoPrime.SendPush/obj
/Codigo/.vs/CartolaPrime/v16/.suo
